<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Apps</title>

    <!-- Remix Icon -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <a href="#main-content" class="skip-to-content">Skip to Content</a>
    <header>
      <nav class="container nav">
        <a href="#" class="brand">Brand</a>

        <button
          class="hamburger-menu"
          id="hamburger-menu"
          aria-label="hamburger-button"
        >
          <i class="ri-menu-3-fill"></i>
        </button>

        <div class="nav-list" id="nav-list">
          <ul class="nav-menu" id="nav-menu">
            <li class="nav-link"><a href="/">Home</a></li>
            <li class="nav-link"><a href="#">Favorite</a></li>
            <li class="nav-link">
              <a href="https://github.com/ahmaddani227" target="_blank"
                >About Us</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main id="main-content">
      <!-- Hero Section Start -->
      <section class="hero-section" id="hero-section">
        <figure>
          <img
            src="./images/heros/hero-image_4.jpg"
            alt="Hero Image"
            width="700"
          />
        </figure>
      </section>
      <!-- Hero Section End -->

      <!-- Menu Section Start -->
      <section class="container" id="restoran">
        <h1 class="text-center title-restoran">Daftar <span>Restoran</span></h1>

        <div class="scroll">
          <div class="card-container"></div>
        </div>
      </section>
      <!-- Menu Section End -->
    </main>

    <footer>
      <div class="container">
        <p>Copyright © 2020 - Brand App</p>
      </div>
    </footer>
  </body>
</html>
